/* Global View */

html {

    /* Font Specifications */
    color: white;
    font-family: 'Asap', sans-serif;
}

body {

    width: 100vw;
    height: 100vh;

    background-color: rgb(203, 203, 203, 1);

    background-image: url(Logo\ Background.png);

    overflow-x: hidden;

}

.container {

    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 85px;
    padding-bottom: 380px;

}

.container>* :not(header) {
    transition: 1s;

}


header {
    background-color: rgb(80, 80, 80);
    width: 100vw;
    height: 15vh;
    position: fixed;

    /* no idea what this does but my god this is awesome */
    top: 0;

    margin-left: auto;
    margin-right: auto;

}

.header-section {

    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.logo {
    /* background-color: red; */

    flex: 1;
    transition: none;
    height: 100%;
    width: 100%;
    
}

.logo a {
    margin-top: 7.5vh;
    position: fixed;
    transition: none;

}

nav {
    /* background-color: brown; */
    flex: 2;
    text-align: end;

}

.nav-mobile {
    /* background-color: red; */
    top: 0;
    max-width: 15vh;
    min-width: 15vh;
    min-height: 15vh;
    max-height: 15vh;
    justify-content: top;

    /* background-color: aquamarine; */
    display: none;
    z-index: 100;

}

.nav-mobile:hover .dropdown{
    /* background-color: brown; */
    display: block;
    
}

.dropdown{
    margin-top: -5%;
    margin-left: -102%;
    /* background-color: blueviolet; */
    transform-origin: top right;
    width: 200%;
    height: 200%;
    text-align: right;

    display: none;
}

.dropdown .nav-button{

    margin-top: 5%;
    width: 100%;
    padding: 3% 0%;

}


.nav-mobile img {

    max-width: 100%;
    min-width: 100%;

    max-height: 100%;
    min-height: 100%;
    float: left;
}

.nav-button {
    background-color: rgb(80, 80, 80);

    flex-wrap: nowrap;
    display: inline-block;

    margin-top: 6vh;
    padding-bottom: 1%;
    width: 4rem;
    text-align: center;
    margin-left: 7%;

    border: 0.1rem solid;
    border-color: lightgray;
    border-radius: 5%;

    box-shadow: 0px 1px 2px rgb(136, 136, 136, 1);

}

.nav-button:hover,
.nav-button:hover a {
    transition: 1s;
    color: black;

}

.nav-button:hover {
    background-color: white;

}

.nav-button:active {
    background-color: black;
    transition: 0.5s;
}

main {
    width: 50%;
    margin-left: 25%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 2.5%;

}

.card {
    margin-bottom: 1rem;
    min-width: 32%;
    max-width: 32%;
    max-height: 100%;
    transition: 2s;

}

.card img {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: -2%;

}

.card p::first-line {

    font-weight: bold;
}

.card-description {

    /* display: flex; */
    /* flex-flow: column; */

    background-color: aquamarine;
    border: 0.01rem solid;
    border-color: lightgray;
    text-align: center;
    height: 3rem;
    vertical-align: middle;

    padding: 5% 4%;
    z-index: 1;

    box-shadow: 0px 3px 3px rgb(136, 136, 136, 1);

}

/* h1 {

    font-size: 1rem;
    font-weight: bold;

} */

p {

    font-size: 0.6rem;
    line-height: 0.7rem;

}

.card-description p {

    font-size: 0.5rem;
}

a {
    font-size: 0.6rem;
    text-decoration: none;
    color: white;
}



/* common tablet size 768px to 767px */
@media (max-width: 1000px) {

    .card {
        margin-bottom: 1rem;
        min-width: 47%;
        max-width: 47%;
        max-height: 100%;

    }

    main {

        width: 50%;
        margin-left: 25%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 2.5%;

    }

    nav {

        display: none;

    }

    .nav-mobile {
        display: block;

    }

    .nav-button {

        margin: 0vh;

    }

}

@media (max-width: 850px) {

    .header-section {

        width: 70%;
    }
}


/* Mobile View is below 400 but we're doing it at 500 for now*/
@media (max-width: 600px) {


    .card {
        /* background-color: red; */


        margin-bottom: 1rem;
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;

    }


    nav {

        display: none;

    }

    .nav-mobile-tablet {
        display: block;
    }

    .card {

        box-shadow: 0px 3px 3px rgb(136, 136, 136, 1);

    }

    .card-description {

        display: none;
    }

    .header-section {

        width: 80%;

    }

    .logo a {

        margin-top: 9vh;

    }

    .logo a{

        
        margin-top: 10%;
    

    }



}

@media (max-width: 350px) {

.nav-mobile{
    display: none;

}



.header-section{
    /* background-color: aqua; */
    display: block;

    width: 100vw;

}

nav{
    display: block;
    /* background-color: aquamarine; */
    height: 60%;
    width: 100vw;



}

.nav-button{
    padding:1%;
    width: 100%;

}

.logo{
    /* background-color: red; */
    display: block;
    height: 40%;
    margin-top: 2%;
}
.logo a{

    padding: 10%;
    text-align: center;
    position:relative;

}


}